<!-- <nav class="sidebar">

  <a
    routerLink="/app"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Beneficios
  </a>


  <a
    routerLink="/app/mis-solicitudes"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Mis Solicitudes
  </a>


  <a
    *ngIf="userService.isLeader()"
    routerLink="/app/aprobaciones"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Aprobaciones
  </a>
</nav> -->

<nav class="sidebar">
  <a
    routerLink="/app"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="linkClicked.emit()"
  >
    Beneficios
  </a>

  <a
    routerLink="/app/mis-solicitudes"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="linkClicked.emit()"
  >
    Mis Solicitudes
  </a>

  <a
    *ngIf="userService.isLeader()"
    routerLink="/app/aprobaciones"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="linkClicked.emit()"
  >
    Aprobaciones
  </a>
</nav>

